.header {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-height: 800px;
    min-height: 400px;
    background-color: #eee;
    }
    .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    background-color: #fff;
    }
    .logo {
    width: 32px;
    height: 32px;
    }
    .header-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url('../../assets/header-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        }
        .input-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.2);
        }
        .search-summary {
        color: #fff;
        }